{% extends 'base.html.twig' %}

{% block title %}SushiShop{% endblock %}

{% block body %}
    <style>
        .itemClass {
            text-decoration: none;
            color: #222222;
        }

        .itemClass:hover {
            text-decoration: none;
            color: #222222;
        }
    </style>
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <hr>

        <div class="row">
            {% for item in items %}
                <div class="col-md-4">
                    <a href="{{ path('shopItem', {'id': item.id}) }}" class="itemClass">
                        <div class="card mb-4 shadow-sm">
{#                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"#}
{#                                 xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"#}
{#                                 role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>#}
{#                                <rect width="100%" height="100%" fill="#55595c"></rect>#}
{#                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>#}
{#                            </svg>#}
                            <img src="http://95.154.71.136/images_for_php/{{ item.id }}.jpeg" width="200" height="250" alt="h">
                            <div class="card-body">
                                <h5>{{ item.title }}</h5>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>{{ item.price }}$</h5>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
