{% extends 'base.html.twig' %}

{% block title %}Hello SushiShopController!{% endblock %}

{% block body %}
    <style>
        .itemClass {
            text-decoration: none;
            color: #222222;
        }

        .itemClass:hover {
            text-decoration: none;
            color: #222222;
        }
    </style>
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <hr>

        {% set sum = 0 %}
{#        {% set cal = 0 %}#}
        {% for item in items %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>{{ item.title }}</h4>
                        <h4>{{ item.price }}$</h4>
                        {% set sum = sum + item.price %}
{#                        {% set type_id = item.ItemsList.typeId %}#}
{#                        {% set cal = cal +  %}#}

                    </div>
                </div>
            </div>
        {% endfor %}
        <hr>
        <h4>Summ: {{ sum }} </h4>
        <a href="{{path('shopCartCount')}}" class="btn btn-success mt-2" style="width: 200px">Count calories</a>
        <h4>Calories: {{ calories }} </h4>
        <a href="{{path('shopCartDelete')}}" class="btn btn-success mt-2" style="width: 200px">remove all</a>
    </div>
{% endblock %}
