{% extends 'base.html.twig' %}

{% block title %}SushiShop{% endblock %}

{% block body %}
    <style>
        .itemClass {
            text-decoration: none;
            color: #222222;
        }

        .itemClass:hover {
            text-decoration: none;
            color: #222222;
        }
    </style>
    <div class="example-wrapper">
        <h1>{{ title }}</h1>
        <hr>

        {% set sum = 0 %}
        {% for item in items %}
            <div class="col-md-4"  style="width: 100%">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h4>{{ item.title }}</h4>
                        <h4>{{ item.price }}$</h4>
                        {% set sum = sum + item.price %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr>
        <h4>Summ: {{ sum }}$ </h4>
        <hr>
        <h4>Calories: {{ calories }} </h4>
        <a href="{{path('shopCartCount')}}" class="btn btn-success mt-2" style="width: 200px;background-color: #708040!important">Count calories</a>
        <hr>
        <a href="{{path('shopCartDelete')}}" class="btn btn-sm btn-outline-secondary" style="width: 200px">Remove all</a>
    </div>
{% endblock %}
