{% extends 'base.html.twig' %}

{% block title %}SushiShop{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ title }}</h1>
    <hr>

        <div class="row">
            <img src="http://95.154.71.136/images_for_php/{{ id }}.jpeg" width="200" height="250" alt="h">
            <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-0">{{ type }}</h3>
                <hr>
                <hr>
                <h3 class="mb-1">{{ price }} $</h3>
                <a href="{{path('shopCartAdd', {'item': id})}}" class="btn btn-success mt-2" style="width: 200px; background-color: #708040!important">Add to cart</a>
            </div>
        </div>
</div>
{% endblock %}
